script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(type='text/javascript', src='/javascripts/client.js')

h1 JANG Battle!!
div
  h2 説明
  p 名前を入れたら手を入力してください．
  p 他のプレイヤとその手でじゃんけんをして，勝った数だけポイントが入ります．
  p 20点先取．
  p 他のプレイヤもリアルタイムで手を変えてくるので，見切って適切な手を出しましょう．
  p Name:
    input#name(type='text', id='name')
  form#form_p(onsubmit='return send_p()', style='float:left;')
    input#input_p(type='submit',value='ぱー')
  form#form_p(onsubmit='return send_c()', style='float:left;')
    input#input_c(type='submit',value='ちょき')
  form#form_g(onsubmit='return send_g()', style='float:left;')
    input#input_g(type='submit',value='ぐー')
  p(style='clear: both;')
    
div
  h3 Log
  ul#log


div
  h3 test
  ul#test
    li テスト
    li テスト
    